<html>
<head>
    <title>Jumping Dealership's Homepage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/carstyles.css">
</head>
<body>
    <h1>Jumping Car Dealership</h1>
    {% if cars is not empty %}
        <p>Car Listing</p>
        <ul>
            {% for car in cars %}
                <li>{{ car.getModel }}</li>
                <li>{{ car.getPrice }}</li>
                <li>{{ car.getMiles }}</li>
                <li>{{ car.getImage }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action='/car_homepage' method='post'>
        <label for='model'>Model: </label>
        <input id='model' name='model' type='text'>
        <label for='price'>Price: </label>
        <input id='price' name='price' type='text'>
        <label for='miles'>Miles: </label>
        <input id='miles' name='miles' type='text'>
        <label for='image'>Image: </label>
        <input id='image' name='image' type='text'>

        <button type='submit'>Add Post</button>
    </form>
    <form action='/delete_cars' method='post'>
        <button type='submit'>Delete</button>
    </form>
</body>
</html>
