<html>
<head>
    <title>Car Listing</title>
</head>
<body>
    <h1>You Added a Car Posting</h1>
    <p>{{ newcar.getModel }}</p>
    <p>{{ newcar.getPrice }}</p>
    <p>{{ newcar.getMiles }}</p>
    <p>{{ newcar.getImage }}</p>
    <p><a href='/'>View our complete car listing!</a></p>
</body>
</html>
