<html>
<head>
    <title>Search Results!</title>
</head>
<body>
    <h1>Cars matching your search:</h1>
    {% if results is empty %}
        <p>No cars fit your criteria</p>
    {% endif %}
    {% for car in results %}
        <ul>
            <li>${{ car.getPrice }}</li>
            <li>{{ car.getModel }}</li>
            <li>{{ car.getMiles }} miles</li>
        </ul>
            <p><img src='{{ car.getImage }}'></p>
    {% endfor %}
    <p><a href='/'>View our complete car listing!</a></p>
</body>
</html>
